<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css">
    <title>BMI</title>
</head>

<body>
    <div class="home-container">
        <h3>
            Your BMI is <%= bmi %> kg/m2!
        </h3>
        <img src="https://www.pnbmetlife.com/content/dam/pnb-metlife/images/icons/bmi-calculator/meter.png" alt="">
    </div>

</body>

</html>